use('./plugins/plugins.js')
@import 'variables'
@import 'plugins/mantis-equalizr'
@import 'plugins/mantis-querist'

$mantis.querist.breakpoints = $bp

querist-init()

@import 'utils'

.p-confirm-dialog
	margin-left 8px !important
	margin-right 8px !important
	max-width 450px

	&-message
		white-space break-spaces
